.image-home {
  padding: 10%;
  object-fit: contain;
}

.grass {
  background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
  color: #212121;
}
.grass:hover {
  color: #212121;
}

.poison {
  background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
  color: #fff;
}
.poison:hover {
  color: #fff;
}

.fire {
  background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
  color: #fff;
}
.fire:hover {
  color: #fff;
}

.flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  color: #212121;
}
.flying:hover {
  color: #212121;
}

.water {
  background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
  color: #fff;
}
.water:hover {
  color: #fff;
}

.normal {
  background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
  color: #212121;
}
.normal:hover {
  color: #212121;
}

.electric {
  background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
  color: #212121;
}
.electric:hover {
  color: #212121;
}

.ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  color: #212121;
}
.ground:hover {
  color: #212121;
}

.fairy {
  background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
  color: #212121;
}
.fairy:hover {
  color: #212121;
}

.bug {
  background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
  color: #fff;
}
.bug:hover {
  color: #fff;
}

.fighting {
  background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
  color: #fff;
}
.fighting:hover {
  color: #fff;
}

.psychic {
  background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
  color: #fff;
}
.psychic:hover {
  color: #fff;
}

.rock {
  background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
  color: #fff;
}
.rock:hover {
  color: #fff;
}

.steel {
  background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
  background-color: #9eb7b8;
  color: #212121;
}
.steel:hover {
  color: #212121;
}

.ice {
  background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
  background-color: #51c4e7;
  color: #212121;
}
.ice:hover {
  color: #212121;
}

.ghost {
  background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
  background-color: #7b62a3;
  color: #fff;
}
.ghost:hover {
  color: #fff;
}

.dark {
  background: linear-gradient(180deg, #707070 50%, #707070 50%);
  background-color: #707070;
  color: #fff;
}
.dark:hover {
  color: #fff;
}

.dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
  color: #fff;
}
.dragon:hover {
  color: #fff;
}

#root {
  background-color: #ffbb00;
}

body {
  height: 100vh;
  background-color: #ffbb00;
}

.img-pokemons {
  width: 150px;
  height: 150px;
  border-radius: 50% !important;
}

.cor-evolution {
  background-color: #00778a;
}

.cursor-pointer {
  cursor: pointer;
}

.img-detail {
  width: 300px;
  height: 215px;
  object-fit: contain;
}

.car-detail-image-top {
  border-radius: 10% !important;
}

.car-home-image {
  border-radius: 5% !important;
}

.form-search {
  height: 50px;
}

.color-pincel {
  color: #6e6e6e;
}

.icons-form-edit {
  color: #fff;
}

.input-search-right {
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}

.loadign {
  margin-top: 30%;
}

.logo-pokemon {
  object-fit: scale-down;
  height: 100%;
  margin: 15px 0px 2% 0px;
}

@media (min-width: 280px) and (max-width: 760px) {
  .logo-pokemon {
    width: 100%;
    object-fit: scale-down;
    height: 100%;
    margin: 10px 0px 5% 0px;
  }
}
